.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 4rem ;
    margin:2rem 7rem ;
    position: relative;
    border: 2px solid #9d9d9d;
    border-radius: 2rem;
    z-index: 0;
}